@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Blinker:300&display=swap');
body {
font-family: 'Blinker', sans-serif;
background: #88bcbb;
padding-left: 15px;
padding-right: 15px;
margin-left: 30px; 
margin-right: 30px; 
margin-bottom: 5%;
font-weight: 500;
width: 100%;
}
a{
  display: inline-block;
  text-decoration: none;
  color: #943d71;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#main h1{
  color: #444;
  text-align:center;
  font-weight: 700;
}
#main h2{
  text-align:center;
  padding: 5px;
  height: auto;
  margin-top: 10px;
  font-weight: 700;
}
#main h3{
  color: #ffffff;
  text-align:center;
  font-weight: 700;
}
#main h4{
  font-weight: 700;
}
#main h5{
  font-weight: 700;
}
#main h6{
  font-weight: 700;
}
#main{
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}
#book-list{
  padding: 0;
  grid-gap: 5px;
}
#book-list li{
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #943d71;
  box-shadow: 1px 2px 3px #0000004d;
  cursor: pointer;
  color: #943d71;
}
.item_table{
  background: #ffffff;
  border: 2px solid #d8d8d8;
  display: inline-grid;
  min-width: fit-content;
  min-height: 100px;
  margin-top: 5px;
  padding: 16px 20px 20px 20px;
  border-radius: 20px;
  transition: all 0.5s;
  margin-right: 5px;
  cursor: pointer;
  animation: slideInRight 0.8s;
}
.item_table:hover{
  background: #444;
  color: white;
  transition: all 0.5s;
}
.card1{
  background: #ffffff;
  border: 2px solid #d8d8d8;
  display: inline-grid;
  min-width: fit-content;
  min-height: 100px;
  margin-top: 5px;
  padding: 16px 20px 20px 20px;
  border-radius: 20px;
  transition: all 0.5s;
  margin-right: 5px;
  cursor: pointer;
  animation: slideInRight 0.8s;
}
.card1:hover{
  background: #444;
  color: white;
  transition: all 0.5s;
}













input {
  border-radius: 20px;
  border-style: solid;
  padding-left: 50px;
  background: #415269;
  color:#88bcbb;
}
select {
  background: #415269;
  color:#88bcbb;
  border: 2px solid #943d71;
  border-radius: 30px;
}
.add-product-form {
  background: #fff;
  padding: 5px 40px 40px 40px;
  position: fixed;
  left: 25%;
  bottom: -285px;
  width: 400px;
  border-radius: 10px;
  border: 2px solid #943d71;
  transition: all 0.5s;
  transition-delay: 1s;
}
.add-product-form:hover {
  background: #fff;
  position: fixed;
  bottom: 0px;
  width: 400px;
  border-radius: 10px;
  transition: all 0.5s;
}

form .field{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
}

form label{
  text-align: right;
  padding: 6px;
}

form select, form input{
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
}

.button{
  color: #fff;
  font-size: 2em;
  background: #943d71;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.button-2{
  color: #fff;
  font-size: 2em;
  background: #943d71;
  border: 0;
  padding: 5px 5px 5px 5px;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: inline-block;
  float: right;
}
.button-3{
  color: #fff;
  font-size: 1em;
  background: #943d71;
  border: 0;
  padding: 1px 15px 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 30px;
}










.add-author{
  background: #ebe9e9;
  padding: 10px 50px 10px 10px;
  width: 500px;
  z-index: 0;
  transition: all 0.5s;
  height: 100px;
  transition-delay: 1s;
  bottom: 10%;
  margin-top: 60px;
  border-radius: 15px 5px 0px 0px;
}

#book-details{
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #415269;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px 3px 5px rgba(0,0,0,0.3);
  box-sizing: border-box;
  color: #2e2c2c;
  
}
#product-details{
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: #415269;
  padding: 0 30px 50px 50px;
  overflow: auto;
  box-sizing: border-box;
  color: #88bcbb;
  font-size: 22px;
  animation: slideInRight 0.8s;
  border-left: 4px solid #943d71;
  background-image: url(./images/product_details_back.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 95%;
  transition: all 0.5s;
}

.item-cat{
  position: relative;
  float: right;
  bottom: 5px;
  min-width: 10%;
  height: auto;
  background: #943d71;
  padding-left: 8px;
  padding-right: 8px;
  color: #eee;
  font-size: 12px;
  border-radius: 20px;
}
.product-title{
  background: #943d71;
  color: #ffffff;
  width: auto;
  height: 40px;
  border-radius: 30px;
  padding-top: 5px;
  padding-left: 25px;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  justify-content: center;
  animation: slideInRight;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  z-index: 100000000000;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffbb00cc;
}
.loader{
  display: block;
  padding-top: 20%;
  padding-left: 20%;
}

/* Animations */

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}



.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* MENU */

#menu{
  position: fixed;
  top: 0;
  left: -18%;
  width: 20%;
  height: 100%;
  background: #943d71;
  padding: 80px 30px 30px 50px;
  overflow: auto;
  box-sizing: border-box;
  color: #943d71;
  font-size: 22px;
  border-right: 4px solid #943d71;
  background-image: url(./images/product_details_back.png);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: 95%;
  transition: all 0.5s;
  text-decoration: none;
  transition-delay: 1s;
}
#menu:hover{
  left: 0;
  background: #f1f1f1;
  background-image: url(./images/product_details_back.png);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position-x: 40%;
  background-position-y: 120%;
  transition-delay: 0.2s;
  transition: all 0.5s;
}
.menu_item{
  display: inline-block;
  padding-top: 5px;
  width: 100%;
}
.botom_menu{
  width: 80%;
  padding: 15px 15px 15px 15px;
  height: 15px;
  background: #943D71;
  border-radius: 20px 20px 0 0;
  position: fixed;
  bottom: 0;
  transition: all 0.5s;
  transition-delay: 1s;
}
.botom_menu:hover{
  width: 80%;
  padding: 15px;
  height: 150px;
  background: #ebe9e9;
  border-radius: 20px 20px 0 0;
  position: fixed;
  bottom: 0;
  transition: all 0.2s;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
  #product-details{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: #415269;
    padding: 30px 30px 50px 50px;
    overflow: auto;
    color: #88bcbb;
    font-size: 1.8vh;
    transition: all 0.5s;
  }
  #book-list{
    width: 100%;
    padding: 0px;
    cursor: pointer;
    color: #943d71;
  }
  #menu{
    width: 25%;
    position: fixed;
  }
  #menu:hover{
    width: 70%;
  }
  body{
    width: 100%;
    margin-top: 90%;
    margin-bottom: 30%;
  }
  .table{
    width: 100%;
  }
  #main{
    width: 70%;
  }
  .product-title{
    width: 90%;
    padding-right: 20px;
    margin-right: 20px;
    height: auto;
  }
  .add-product-form {
   display: none;
  }
  

  .button{
    border-radius: 10px;
    float: left;
    width: 10vh;
  }
  form .field{
    height: 50px;
    width: 100%;
    display: inline-flex;
  }
}