@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {

font-family: 'Open Sans', sans-serif;
background: #d8d8d8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#main h1{
  color: #444;
  text-align:center;
}
#main{
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}
#book-list{
  padding: 0;
}
#book-list li{
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #880E4F;
  box-shadow: 1px 2px 3px #0000004d;
  cursor: pointer;
  color: #880E4F;
}
.table{
  background: #ffffff;
  border: 2px solid #d8d8d8;
  display: inline-block;
  width: fit-content;
  min-width: 10%;
  height: 60px;
  margin-top: 5px;
  padding: 0px 20px 20px 20px;
  border-radius: 20px;
  transition: all 0.5s;
  margin-right: 5px;
  cursor: pointer;
}
.table:hover{
  background: #444;
  color: white;
  transition: all 0.5s;
}













input {
  border-radius: 20px;
  border-style: solid;
  padding-left: 10px;
  background: #f5aa09;
  color:#2e2c2c
}
select {
  background: #f5aa09;
  color:#2e2c2c;
  border: 2px solid #2e2c2c;
  border-radius: 30px;
}
form {
  background: #fff;
  padding: 5px 40px 40px 40px;
  position: fixed;
  left: 65%;
  bottom: -285px;
  width: 400px;
  border-radius: 10px;
  z-index: 1;
  border: 2px solid #000;
  transition: all 0.5s;
  transition-delay: 1s;
}
form:hover {
  background: #fff;
  position: fixed;
  left: 65%;
  bottom: 0px;
  width: 400px;
  border-radius: 10px;
  z-index: 1;
  transition: all 0.5s;
}

form .field{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form label{
  text-align: right;
  padding: 6px;
}

form select, form input{
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
}

.button{
  color: #fff;
  font-size: 2em;
  background: #880E4F;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.button-2{
  color: #fff;
  font-size: 1.5em;
  background: #880E4F;
  border: 0;
  padding: 0px 0px 0px 7px;
  border-radius: 50%;
  cursor: pointer;
  width: 22px;
  height: 30px;
  display: block;
}










.add-author{
  background: #c0bebe;
  padding: 10px 50px 10px 10px;
  left: 63%;
  top: 0;
  width: 400px;
  z-index: 0;
  transition: all 0.5s;
  height: 50px;
  display: none;
}

#book-details{
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #f5aa09;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px 3px 5px rgba(0,0,0,0.3);
  box-sizing: border-box;
  color: #2e2c2c;
  
}
#product-details{
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #f5aa09;
  padding: 30px;
  overflow: auto;
  box-sizing: border-box;
  color: #2e2c2c;

}
.item-cat{
  position: relative;
  float: right;
  bottom: 5px;
  min-width: 10%;
  height: auto;
  background: #880E4F;
  padding-left: 8px;
  padding-right: 8px;
  color: #eee;
  font-size: 12px;
  border-radius: 20px;
}